{% extends 'index.html' %}
{% block content %}
<h4>Note <i>{{context.name}}</i></h4>

{% if context.message %}
    <div id="message">{{ context.message }}</div>
{% endif %}

<form method="post">
    {% if context.authorized %}
        <label for="content">Content:</label><br>
        <textarea id="content" name="content">{{context.content}}</textarea><br>
    {% endif %}
    <label for="password">Password:</label><br>
    <input autocomplete="off" type="text" id="password" name="password"><br>
    {% if context.authorized %}
        <label for="ttl">Lifespan (seconds):</label><br>
        <input autocomplete="off" type="text" id="ttl" name="ttl" value="{{context.ttl}}"><br>
    {% endif %}
    <input type="submit" value="Execute">
</form>
{% endblock %}